.btn-purple:hover {
  background-color: #7e75fa;
  opacity: 0.5;
}
.avatar-img,
.avatar-img-small {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;

}
.avatar-img-small {
  width: 36px;
  height: 36px;
}
.seacrh__outline:focus  .search__container{
  background-color: #ced4da3b;
  gap: 2;
  border-radius: 30px;
  padding-left: 15px;
}
.notification-green {
  width: 14px;
  height: 14px;
  background-color: green;
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
}
.card__img__size {
  width: 100%;
  height: 100%;
}
.card__btn {
  display: none;
  flex-wrap: nowrap;
  margin: 90px;
}

.card__color {
  width: 100%;
  height: 100%;
}
.image {
  position: relative;
}
.image img {
  width: 100%;
  height: 100%;
}
.image:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.card__btn:after {
  content: "Place a bit";
  width: 120px;
  height: 38px;
  background-color: #ffffff70;
  cursor: pointer;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
}
.image:hover:after {
  opacity: 1;
}
.card__hover:hover .card__btn {
  display: block;
}
.card__btn:hover:after {
  opacity: 1;
}
.clock-box {
  background-color: rgba(79, 70, 229, 0.1);
  color: #4f46e6;
  font-size: 2.25rem;
  font-weight: 600;
  border-radius: 10px;
}
.clock__boxes {
  display: grid;
  justify-content: center;
}
body {
  background-color: #f8fafc;
}
.btn__bg__purple {
  background-color: #4f46e6;
  border-radius: 30px;
  color: white;
  border: none;
  width: 112px;
   margin-top: 10px;
   height: 32px;
}

.btn__bg__purple:active{
  background-color: #7e75fa;;
}
.card__small__text {
  font-size: 12px;
}
.avatar__card__user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.like__button {
  max-width: 33px;
  max-height: 33px;
  padding: 7px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #e9eef5;
  cursor: pointer;
}

.like__button:active > .bi-heart{
  background-color: red;
  border-radius: 20px;
  }

.card__user__name {
  font-size: 15px;
  cursor: pointer;
}
.card__item__text {
  color: #4f46e6;
}
.line {
  width: 100%;
  height: 1px;
  background: grey;
  opacity: 0.3;
  margin-bottom: 1px;
}
.small__text {
  font-size: 12px;
}
.sm__text {
  font-size: 14px;
}
.like__button__red {
  border-radius: 50%;
  background-color: #e9eef5;
}
.bitcoin__item {
  border-radius: 50%;
  background-color: white;
  width: 24px;
  height: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
}
.credit__card {
  background-image: linear-gradient(to right, #0ea5e9, #0284c7);
}
.visa {
  max-width: 40px;
}
.card__view__text {
  color: #4f46e6;
  text-decoration: dotted;
  text-decoration-line: underline;
  cursor: pointer;
}
.aside__bg {
  background-color: white;
  border: 0.5px solid #e9eef5;
  border-top: 0px;
}
a:active {
  color: #7e75fa;
}
.section__navbar {
  cursor: pointer;
}
.notification__purple {
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #f000b9;
  border-radius: 50%;
  position: absolute;
  animation-name: circle;
  animation: circle 1.5s ease-out infinite;
}
.search__container {
  background-color: #ced4da3b;
  gap: 2;
  border-radius: 30px;
  padding-left: 15px;
}
.search__container:focus{
  border:2px solid #7e75fa;
  padding-right: 100px;
}
.margin-top{
  margin-top: 60px;
  font-size:12px;
}
form .form-control:focus {
  border-color: #0d6efd;
  box-shadow: none;
}
.sidebar__svg{
  max-width: 28px;
  max-height:28px;
  opacity: 0.8;
}
.sidebar__svg__container{
  width: 44px;
  height: 44px;
  margin: 10px;
}
.navbar__button,.navbar__button__center{
  background-color: #4f46e6;
  height: 2px;
  width: 20px;
}
.navbar__button__center{
  width: 10px;
}
.navbar__btn__height{
  width: 28px;
  height: 28px;
}
@keyframes circle {
  0% {
    background: #f000b9;
    border: 3px solid #f000b9;
  }
  50% {
    background: #f000b9;
    border: 4px solid #fff;
  }
  100% {
    background: #f000b9;
    border: 5px solid #fff;
  }
}

.navbar__btn:hover {
  background-color: #e9eef5;
  border-radius: 50%;
}
.logo:hover {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-purple:hover .svg__hover {
  fill: white;
}
:root {
  --width: 100%;
}
main {
  --width: 100%;
  width: calc(--widt);
}
@media only screen and (min-width: 100px) and (max-width: 600px)  {

  .card__btn{
    margin:120px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 760px)  {

  .card__btn{
    margin:200px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px)  {

  .card__btn{
    margin: 10px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px)  {

  .card__btn{
    margin: -10px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px)  {

  .card__btn{
    margin: 30px;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1800px)  {

  .card__btn{
    margin: 50px;
  }
}
.hexagon__container{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.is-hexagon {
  -webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='182' height='201' fill='none'%3E%3Cpath fill='%23000' d='M.3 65.486c0-9.196 6.687-20.063 14.211-25.078l61.86-35.946c8.36-5.016 20.899-5.016 29.258 0l61.86 35.946c8.36 5.015 14.211 15.882 14.211 25.078v71.055c0 9.196-6.687 20.063-14.211 25.079l-61.86 35.945c-8.36 4.18-20.899 4.18-29.258 0l-61.86-35.945C6.151 157.44.3 145.737.3 136.54V65.486z'/%3E%3C/svg%3E");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 100%;
  background-image: url(https://lineone.piniastudio.com/images/avatar/avatar-18.jpg );
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px;
 
}